# Security (CRITICAL)
.env

# Virtual Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# QTradeX Data Cache (Generated at runtime)
data_index.json
min_time.json
* candles.json
qtradex/common/pipe/

# Distribution / Build
dist/
build/
*.egg-info/

# Compiled files (Legacy)
qtradex/indicators/utilities.c*
qtradex/indicators/qi.c*

# IDE settings
.vscode/
.idea/

# Strategies (Apenas strategy_base.py e __init__.py sobem no Git)
strategies/ZigZagATR.py
strategies/ZigZagFractal.py
strategies/ZigZagPivots.py
strategies/extinction_event.py
strategies/renko.py
strategies/renko_pro.py
strategies/renko_scalp.py
strategies/ZigZag_NR.py
